@use 'src/theme';

.Header {
  height: theme.$header-height;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;

  box-sizing: border-box;

  padding: 16px 14px 0;

  * {
    display: block;
  }
}