$green: (
        "color1": #7A942E, // SISKIN SPROUT YELLOW
        "color2": #8DB255, // YOUNG GREEN ONION
        "color3": #5B8930, // FRESH ONION
        "color4": #6B9362, // YOUNG BAMBOO COLOR
        "color5": #407A52, // PATINA
);

$pink: (
        "color1": #F08F90, // ONE KIN DYE
        "color2": #F47983, // PEACH-COLORED
        "color3": #DB5A6B, // RED PLUM COLORED
        "color4": #C93756, // MEDIUM CRIMSON
        "color5": #FCC9B9, // CHERRY BLOSSOM COLOR
);

$purple: (
        "color1": #875F9A, // WISTERIA PURPLE
        "color2": #5D3F6A, // BELLFLOWER COLOR
        "color3": #89729E, // WISTERIA COLOR
        "color4": #763568, // IRIS COLOR
        "color5": #8D608C, // TATARIAN ASTER COLOR
);